{{!
    @template tool_sentry/test_buttons

    This template renders the test buttons for the Sentry tool.
    Example context (json):
    {
        "str": "Test exception"
    }
}}
<div class="integracaosigaa-test-buttons">
    <button class="btn btn-secondary" type="button" id="btnSentyTest">
        {{#str}} test_exception, tool_sentry {{/str}}
    </button>
    <div id="ajax_result"></div>
</div>
